# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# figures written by the notebook at run time (curated copies live in reports/figures)
notebooks/figures/

# transfer artifact
*.zip
